{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Juegalo{% endblock %}

{% block nav_home %}active{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1>Juega, compra y disfruta!</h1>
    </div>
</section>

<section class="container my-5">
    <h2 class="text-center mb-4">Juegos Más Populares</h2>
    <div class="row">
        {% for juego in juegos %}
            {% include '_game_card.html' with juego=juego %}
        {% empty %}
            <div class="col-12 text-center">
                <p>No hay juegos disponibles.</p>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}