{% extends 'base.html' %}
{% load static %}

{% block title %}Juegos de PC - Juegalo{% endblock %}

{% block nav_pc %}active{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <h1 class="text-center mb-4">Juegos Más Populares para PC</h1>
    
    <div class="row">
        {% for juego in juegos %}
            {% include '_game_card.html' with juego=juego %}
        {% empty %}
            <div class="col-12 text-center">
                <p>No hay juegos disponibles para PC.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}